{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
    <main>
        <!-- dashboard sidebar -->
		{% include 'dash-sidebar.html' %}

        <!-- enrolled course  -->
        <div class="dashboard">
			<div class="ongoing">
				<h3>Enrolled courses:</h3>
				{% if ongoing.count == 0%}
					<div class="no-data-found">
						<p><i class="fas fa-exclamation-circle"></i> No course found</p>
					</div>
				{% endif %}
				{% for course in ongoing %}
					<div>
						<img src="/media/{{course.course.thumbnail}}" alt="course" height="70px">
						<div>
							<h3>{{course.course.course_title}}</h3>
							<a href="/dashboard/course/{{course.course.id}}/learn?chapter=">start</a>
						</div>
					</div>
				{% endfor %}			
			</div>
        </div>
	</main>
{% endblock body %}