{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
    <main>
		{% load static %}
        <!-- dashboard sidebar -->
		{% include 'dash-sidebar.html' %}
        <!-- dashboard home -->
        <div class="dashboard">
			<br>
			<div class="dash-welcome">
				<div>
					<h3>Hello, {{user.username}} </h3>
					Let's learn something new <br> in the field of Cyber Security
				</div>
				<img src="{% static 'images/hacker.png' %}" alt="dashboard" height="140px">
			</div>

			{% comment %} recently enrolle courses {% endcomment %}
			<div class="ongoing">
				<h3>Ongoing courses:</h3>
				{% if ongoing.count == 0%}
					<div class="no-data-found">
						<p><i class="fas fa-exclamation-circle"></i> No course found</p>
					</div>
				{% endif %}
				{% for course in ongoing %}
					<div>
						<img src="/media/{{course.course.thumbnail}}" alt="course" height="70px">
						<div>
							<h3>{{course.course.course_title}}</h3>
							<a href="/dashboard/course/{{course.course.id}}/learn?chapter=">start</a>
						</div>
					</div>
				{% endfor %}			
			</div>
        </div>
	</main>
{% endblock body %}