{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
    <main>
        <aside class="toc">
            {% for lecture in lectures %}
                <a href="/dashboard/course/{{lecture.course.id}}/learn?chapter={{lecture.id}}">{{lecture.video_title}}</a>
            {% endfor %}
        </aside>

        <div>
            <video width="100%" controls>
                <source src="/media/{{lecture.video}}" type="video/mp4">
            </video>
        </div>
	</main>
{% endblock body %}