{% extends 'base.html' %}

{% block title %}Dashboard{% endblock title %}

{% block body %}
    <main>
        <!-- dashboard sidebar -->
		{% include 'dash-sidebar.html' %}

        <!-- dashboard home -->
        <div class="dashboard">
            <h2>Change password</h2>
			<form action="/dashboard/setting" method="POST">
                {% csrf_token %}
                <label for="password">New password</label><br>
                <input type="password" name="password" required> <br><br>
                <label for="cpassword">Confirm password</label><br>
                <input type="text" name="cpassword" required> <br><br>
                <button>reset</button>
            </form>
        </div>
	</main>
{% endblock body %}