{% extends 'base.html' %}

{% block title %}courses{% endblock title %}

{% block body %}
   <main>
        <div class="course-container">
			<h2><u>All Courses</u></h2>
			{% if pages.count == 0%}
				<div class="no-data-found">
					<p><i class="fas fa-exclamation-circle"></i> No course found</p>
				</div>
			{% endif %}
            {% for course in courses %}
				<div class="course-card">
					<a href="/course/detail/{{course.id}}">
						<div class="course-thumbnail">
							<img src="media/{{course.thumbnail}}" alt="" width="100%" height="100%">
						</div>
						<div class="detail">
							<h2>{{course.course_title}}</h2>
							<div class="level{{course.level}}">{{course.get_level_display}}</div>
							<p>
								<h4>Estimated time</h4>
								<div>Duration: {{course.duration}}</div>
							</p>
						</div>
					</a>
				</div>
			{% endfor %}

			<!-- load button -->
			<div class="load-more">
				{% if courses.has_previous %}
					<a href="?page={{ courses.previous_page_number }}">prev</a>
				{% endif %}
				{% if courses.has_next %}
					<a href="?page={{courses.next_page_number}}">next</a>
				{% endif %}
				
			</div>
        </div>

	</main>
{% endblock body %}