{% extends 'base.html' %}

{% block title %}course detail{% endblock title %}

{% block body %}
   <main>
        <br>
		<!-- course detail -->
        <div class="course-hero">
            <div class="bg-video">
                <video src="/media/{{course.video_thumbnail}}" autoplay="" loop="" width="100%"></video>
                <img src="/media/{{course.thumbnail}}" width="100%" height="100%" style="position:absolute;left:0;top:0;">
            </div>
            <div class="content-overlay">
                <h1>{{course.course_title}}</h1>
                <p>{{course.description}}</p>
                <div>
                    <a href="#sulabuss">SYLLABUS</a>
                    {% if enrolled %}
                        <a href="/dashboard/enrolled">View Enrolled</a>
                    {% else %}
                        <a href="/enroll/course/{{course.id}}">ENROLL</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <div>
                Duration</br>
                {{course.duration}}
            </div>
            <div>
                Prerequisites <br>
                {{course.prerequisites}}
            </div>
            <div>
                Fee</br>
                {{course.fee}} /-
            </div>
        </div>

        <!-- course curriculum -->
        <div class="course-curriculum" id="sulabuss">
			<h3>course curriculum</h3>
            
            {% for topic in curriculum %}
                <details>
                    <summary>{{topic}}</summary>
                    <p>{{topic.description}}</p>
                </details>
            {% endfor %}
        </div>
	</main>
{% endblock body %}