{% extends 'base.html' %}

{% block title %}enroll{% endblock title %}

{% block body %}
   <main>
        <div class="enroll">
            <div class="enroll-course">
                <img src="/media/{{course.thumbnail}}" alt="course">
                <div>
                    <h3>{{course.course_title}}</h3>
                    <p>Duration: {{course.duration}}</p>
                </div>
                <div>
                    {{course.fee}} /-
                </div>

            </div>
            <form action="/enroll/proceed/{{course.id}}/{{user.id}}" method="POST">
                {% csrf_token %}
                <input type="text" name="fname" placeholder="first name" required>
                <input type="text" name="lname" placeholder="last name" required> <br>
                <input type="email" name="email" placeholder="E-mail"required> <br>
                <input type="phone" name="phone" placeholder="Phone" required> <br>
                <input type="text" name="address" placeholder="Address" required> <br>
                <button>Proceed</button>
            </form>
        </div>
	</main>

{% endblock body %}