{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
    <main>
		{% load static %}
		<!-- hero secrion -->
		<section class="hero">
			<div class="h-intro">
				<p>LEVEL UP CYBERSECURITY SKILLS</p>
				<h1>
					The Leading Cybersecurity <br>
					Professional Training Platform
				</h1>
			</div>
			<div class="h-start">
				<a href="#">Get started</a>
			</div>
			
			<div class="h-features">
				<div>
					<img src="{% static 'images/hacking.png' %}" height="100%" width="90px" >
					<p>
						Hands-on<br>
						Learning
					</p>
				</div>
				<div>
					<img src="{% static 'images/career-hero.png' %}" height="100%" width="90px" >
					<p>
						Guided<br>
						Career Path
					</p>
				</div>
				<div>
					<img src="{% static 'images/certificate.svg' %}" height="60%" width="60px"  style="margin:5%">
					<p>
						Certification<br>
						Of completion
					</p>
				</div>
			</div>
		</section>
	
		<!-- start learning -->
		<section>
			<h2>Let's Start Hacking</h2>
			<p>
				Learn Penetration testing, Offensive security, Red Teaming and more cyber security stuffs with Hands-On live Training.
			</p>
			<div>
				<div>
					<h3>Total Students</h3>
					<p>980</p>
				</div>
				<div>
					<h3>Total Courses</h3>
					<p>{{courses.count}}</p>
				</div>
				<div>
					<h3>Career Paths</h3>
					<p>5</p>
				</div>
			</div>
		</section>

		<!-- featured courses -->
		<section>
			<div class="featured">featured courses >><a href="/courses">view all</a></div>
			<div class="course-container">
				{% if courses.count == 0%}
					<div class="no-data-found">
						<p><i class="fas fa-exclamation-circle"></i> No course found</p>
					</div>
				{% endif %}
				{% for course in courses %}
				
					
					<div class="course-card">
						<a href="/course/detail/{{course.id}}">
							<div class="course-thumbnail">
								<img src="media/{{course.thumbnail}}" alt="" width="100%" height="100%">
							</div>
							<div class="detail">
								<h2>{{course.course_title}}</h2>
								<div class="level{{course.level}}">{{course.get_level_display}}</div>
								<p>
									<h4>Estimated time</h4>
									<div>Duration: {{course.duration}}</div>
								</p>
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</section>

		<!-- testimonals section -->
		<section class="testimonal">
			<h2 style="text-align: center; text-transform: uppercase;">Testimonals</h2>
			<div>
				<img src="{% static 'images/avtar.png' %}" alt="" height="80px" width="80px">
				<h2>John Doe</h2>
				<p>
					all the courses are amazing 
				</p>
			</div>
		</section>
	</main>
{% endblock body %}