{% extends 'base.html' %}

{% block title %}signup{% endblock title %}

{% block body %}
    <br>
    {% load static %}
   <!-- login -->
    <div class="signup">
        <div>
            <div class="signup-overlay"></div>
            <div class="signup-content">
                <h3>Register</h3>
                <p>Start you leaning journey!</p>
            </div>
        </div>
        <form action="/signup" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username" required><br>
            <input type="text" name="fullname" placeholder="Full name" required><br>
            <input type="email" name="email" placeholder="E-Mail" required><br>
            <input type="password" name="password" placeholder="password" required><br>
            <input type="text" name="confirm-password" placeholder="confirm password" required><br>

            <input type="checkbox"><span>E-mail me course updates and offers</span><br>
            <button><b>Sign Up</b></button><br>
        </form>
    </div>
    <div>
        <span>Alrady have an account? <a href="/login">Log In</a></span><br><br><br><br>
    </div>
{% endblock body %}